@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
.container {

    position: relative;
    width: 100%;
    height: 100vh;
    background:#000;
    overflow: hidden;
}
.tabs input {
    visibility: hidden;
    display: none;
}

.tabs .buttons {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    z-index: 100000000;
}
.tabs .buttons label {
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    opacity: .5;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s ease;
}

.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1) ,
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2) ,
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3) {
    opacity: 1;
    width: 50px;
}

.content {
    position: relative;
    width: 300vw;
    display: flex;
    transition: .5s ease;
}

.content .box {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 40px;


}

.content .box:nth-child(1) {
    background: linear-gradient(90deg, #abc0b9, #d6b100);
}
.content .box:nth-child(2) {
    background: linear-gradient(90deg, #5b4effa1, #23c2f9);
}
.content .box:nth-child(3) {
    background: linear-gradient(90deg, #087e71, #0f8c22);
}

.tabs input:nth-child(1):checked ~ .content {
    left: 0;
}
.tabs input:nth-child(2):checked ~ .content {
    left: -100vw;
}
.tabs input:nth-child(3):checked ~ .content {
    left: -200vw;
}

.content .box .contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.contentBox ion-icon {
    font-size: 12em;
    color: #fff;
    --ionicon-stroke-width: 16px;

}
.content .box .contentBox h3 {
    font-size: 3em;
    color: #fff;
    
}
.content .box .contentBox p {
    font-size: 1.3em;
    color: #fff;
    max-width: 650px;
    text-align: left;

}
.content .box .contentBox button {
    font-size: 1.3em;
    text-decoration: none;
    padding: 15px 35px;
    color: #333;
    letter-spacing: .05em;
    margin-top: 12px;
    background: #fff;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    transition: .5s ease;
    cursor: pointer;
}

.content .box .contentBox button:hover {
    letter-spacing: .16em;

}